@import "./variables/global.scss";
@import "./reset.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.app {
  font-size: var(--font-m);
  transition: 700ms;
  background: var(--color1);
  color: var(--color3);

  min-height: 100vh;
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
