.navbar {
  width: 100%;
  padding: 25px;
  // background-color: var(--color2);
}
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggleBtn {
  overflow: hidden;
}
.links {
  display: flex;
  gap: 30px;
}
.link {
  font-size: var(--font-size-l);
  color: var(--color2);
}
// .activeLink {
//   font-size: var(--font-size-l);
//   transform: translate(0, -10px);
//   color: var(--color2);
// }
