.navbar {
  width: 100%;
  padding: 25px;
}
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggleBtn {
  overflow: hidden;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 20%;
}
.link {
  font-size: var(--font-size-l);
  color: var(--color3);
}
.activeLink {
  font-size: var(--font-size-l);
  color: var(--color2);
  transform: scale(1.2);
}

.settings {
  display: flex;
  align-items: center;
  gap: 30px;
}
.auth {
  width: 30%;
  display: flex;
  justify-content: right;
}
// .activeLink {
//   font-size: var(--font-size-l);
//   transform: translate(0, -10px);
//   color: var(--color2);
// }
